<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head.ejs') %>
    <title>Crear Producto</title>
    <link rel="stylesheet" href="\css\product.css">
    <link rel="stylesheet" href="\css\productCreate.css">
</head>

<body>
    <%- include('../partials/headerReduce.ejs') %>
    
    <main class="main--form">
        <form action="/admin/" method="POST" enctype="multipart/form-data" class="form--products">
            <p class="main__products--titulares">Crear Producto</p>
            <label class="main__input--desc" for="name">Nombre</label></br>
            <input class="main__form--inputs" id="name" name="name" required></br>

            <label class="main__input--desc" for="description">Descripción</label></br>
            <textarea class="main__form--inputs" id="description" name="description" cols="35" rows="6"></textarea></br>
            
            <label class="main__input--desc" for="images">Imágenes</label>
            <input class="main__form--inputs" type="file" name="images" id="imageInput" multiple accept="image/*">
            <div id="previewContainer"></div>
            <script src="/scripts/productCreateImage.js"></script>

            <label class="main__input--desc" for="price">Precio</label>
            <input type="number" class="main__form--inputs" id="price" name="price" ></br>          
            
            <label class="main__input--desc">Colores:</label>
            <fieldset  class="main__form--inputs" id="colorAdd">
        
                <div>
                    <button type="button" onclick="addColor()" class="form__buttons--colors">Agregar Color</button>
                </div>
            </fieldset>
            <script src="/scripts/productCreateColors.js"></script>
            
            <label class="main__input--desc" for="stock">Stock</label>
            <input type="number" class="main__form--inputs" id="stock" name="stock" ></br>

            <label class="main__input--desc" for="category">Categoría</label>
            <select name="category" id="category" class="main__form--inputs" required>
                <option value="">Seleccione Categoría</option>
                <option value="Mates">Mates</option>
                <option value="Termos">Termos</option>
                <option value="Bombillas">Bombillas</option>
                <option value="Bolso Matero">Bolso Matero</option>
            </select>

            <div class="main--buttons">
                <button class="main__buttons--products" type="submit" >Crear</button>
                <a class="product--butt" href="/admin/">Cancelar</a>
            </div>
        </form>

    </main>

    <%- include('../partials/footerReduce.ejs') %>
</body>

</html>