<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Producto</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/productAdd.css">
</head>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main class="main--form">
        <form action="/addProduct" method="POST" class="product--form">
            <label class="main__register--titulares">Agregar producto </label>
            
            <div class="control--form">
                <label class="control__form--label" for="nameProduct" >Nombre del producto:</label>
                <input class="main__input--control"  type="text" id="nameProduct" name="nameProduct" value="" placeholder="Nombre del producto" required>
            </div>
            
            <div class="control__form--photo">
                <label for="photoProduct" class="control__form--label">Fotos del Producto:</label>
                <input type="file" name="photoProduct" id="photoProduct" accept=".jpg, .png">
            </div>

            <div class="control--form">
                <label class="control__form--label" for="descriptionProduct" >Descripcion Producto:</label>
                <textarea class="main__input--control" name="descriptionProduct" id="descriptionProduct" cols="15" rows="6"></textarea>
            </div>

            <div class="control--form">
                <label class="control__form--label">Categoria:</label>
                <div class="form__productCategories">
                    <label for="mates"> 
                        <input type="radio" id="mates" name="productCategories" value="mates" class="form__categories--radio">Mates 
                    </label>
                    <label for="termos"> 
                        <input type="radio" id="termos" name="productCategories" value="termos" class="form__categories--radio">Termos
                    </label>
                    <label for="bolsoMatero"> 
                        <input type="radio" id="bolsoMatero" name="productCategories" value="bolsoMatero" class="form__categories--radio">Bolso Matero 
                    </label>
                    <label for="bombillas"> 
                        <input type="radio" id="bombillas" name="productCategories" value="bombillas" class="form__categories--radio">Bombillas 
                    </label>
                </div>
            </div>

            <div class="control--form">
                <label class="control__form--label" for="priceProduct" >Precio del producto:</label>
                <input class="main__input--control"  type="number" id="priceProduct" name="priceProduct" value="" placeholder="Precio" required>
            </div>

            <div class="control--form">
                <label class="control__form--label" for="stockProduct" >Stock disponible del producto:</label>
                <input class="main__input--control"  type="number" id="stockProduct" name="stockProduct" value="" placeholder="Stock">
            </div>

            <div class="control--form">
                <label class="main__register--titulares">Opciones Adicionales:</label>
                <label class="control__form--label" for="sendFree">
                    <input type="checkbox" id="sendFree" name="sendFree" class="form__categories--checkbox">Envío Gratis
                </label>
                
                <label class="control__form--label" for="enOferta">
                    <input type="checkbox" id="enOferta" name="enOferta" class="form__categories--checkbox">En Oferta
                </label>
            </div>
            <br>

            <button type="reset" class="button--form">Borrar</button>            
            <button type="submit" class="button--form">Cargar</button>
        </form>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>