<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>El Mateador</title>
</head>
<body>
    <header class="header--main">
        <div class="header__main--bar">
            <div class="header__div--burger">
                <i class="fa-solid fa-bars"></i>
            </div>

            <div class="header__div--logo">
                <a href="/"><img  class="header--logo" src="/images/logo.jpg" alt="Mates"></a>
            </div>

            <div class="header__div--cart">
                <a href="/productCart"><i class="fa-solid fa-shopping-cart"></i></a>
            </div>
        </div>
        <nav class="header__nav--menu">
            <ul class="header__nav--option">
                <li type="none"> <a href="#"> Productos</a> </li>
                <li type="none"> <a href="#"> Promociones</a> </li>
                <li type="none"> <a href="#"> Vender</a> </li>
                <li type="none"> <a href="#"> Contacto</a> </li>
            </ul>
            
            <ul class="header__nav--login">
                <li type="none"> <a href="/register"> Creá tu cuenta&ensp;<i class="fa-solid fa-address-card"></i></a></li>
                <li type="none"> <a href="/login"> Ingresá&ensp; <i class="fa-solid fa-right-to-bracket"></i> </a> </li>
            </ul>
        </nav>                 
    </header>
   
    <main class="main--home">
        <div class="main--banner">
            <img  class="banner"  src="/images/banner-el-mateador_Mesa de trabajo 1.jpg" alt="banner">
            <div class="banner--radios">
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
            </div>
        </div>
    
        <section class="main--section">
            <h3 class="main--titulares">Categorías</h3>
            <div class="main__section--div4">
                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-04.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Mates</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>

                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-06.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Bombillas</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                </div>

                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-01.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Mates</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                    
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-05.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Bombillas</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                </div>
        </section>

        <section class="main--section">
            <h3 class="main--titulares">Promociones</h3>
            <article class="main--banner">
                    <img class="banner" src="/images/banner-el-mateador-02.jpg" alt="Programacion Full Stack">                     
            </article>
        </section>

        <section class="main--section">
            <h3 class="main--titulares">Ofertas exclusivas</h3>
            <div class="main__section--div4">
                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-09.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>

                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-08.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                </div>

                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-03.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                    
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-07.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                </div>
        </section>

        <section class="main--section">
            <h3 class="main__section--send">¿Por qué elegirnos?</h3>  
            <div class="main__section--bannerSend">
                <i class="fa-solid fa-chevron-left main__section--arrow"></i>
                           
                <article class="main__section--articleSend">
                    <a href="#">
                        <i class="fa-solid fa-truck-fast main__icon--send"></i>
                    </a>
                    <h4>Envíos a todo el país</h4>
                    <p>Tenés envíos gratis a partir de $10000</p>                   
                </article>
                <i class="fa-solid fa-chevron-right main__section--arrow"></i>   
                
            </div>
        </section>
    </main>
    
    <footer class="footer">
        <section class="footer__article"> 
            <h4>Nuestras redes</h4>
            <p class="footer__section--pNets">Seguinos en nuetras redes sociales:</p>
            <div class="footer__section--div">
                <a href="#" class="footer__section--nets">
                <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="#" class="footer__section--nets">
                    <i class="fa-brands fa-square-facebook"></i>
                </a>
                <a href="#" class="footer__section--nets">
                    <i class="fa-brands fa-tiktok"></i>
                </a>
            </div>
        </section>
            
        <section class="footer__article"> 
            <h4>¿Dónde estamos?</h4>
            <a href="#" class="footer__section--location">
                <i class="fa-solid fa-location-dot footer__section--iconLocation"></i>
                <p class="footer__section--pLocation">EL MATEADOR </p>
            </a>
        </section>    

        <section class="footer__article"> 
                <p class="footer--author">Copyright El Mateador - Grupo 5 - 2024 / Proyecto Digital House -</p>
        </section>
    </footer>  
</body>
</html>

  
