<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito de Compras</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/productCart.css">
    </head>
    <body>
        <header class="header--main">
            <div class="header__main--bar">

                <div class="header__div--burger">
                    <i class="fa-solid fa-bars"></i>
                </div>

                <div class="header__div--logo">
                    <a href="/"><img  class="header--logo" src="/images/logo.svg" alt="Mates"></a>
                </div>

                <div class="header__div--cart">
                    <a href="/productCart"><i class="fa-solid fa-shopping-cart"></i></a>
                </div>

            </div>                   
                
        </header>
        <main>
            <section class="main__section"> 
                <p class="main__titulares">Mi Carrito</p>
                <div class="main__item">
                    <div class="main__item--div-img">
                        <img class="main__item--image" src="/images/el-mateador-imagenes-01.jpg" alt="Mate">
                    </div>
                    <div class="main__item--product">
                        <h4 class="main__item--name">Mate clásico</h4>
                        <p class="main__item--description">Mate clásico color negro</p>
                        <p class="main__item--cantidad">
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                            </select>
                        </p>
                    </div>
                    <div class="main__item--right">
                        <i class="fa-solid fa-trash-can" style="color: #1b1b1d;" onclick="removeItem(this)"></i>
                        <p class="main__item--price">$3500</p>
                    </div>
                </div>
                <div class="main__item">
                    <div class="main__item--div-img">
                        <img class="main__item--image" src="/images/el-mateador-imagenes-07.jpg" alt="Bombilla">
                    </div>
                    <div class="main__item--product">
                        <h4 class="main__item--name">Bombilla</h4>
                        <p class="main__item--description">Bombilla metálica</p>
                        <p class="main__item--cantidad">
                            <select name="cantidad" id="cantidad">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="3">4</option>
                                <option value="3">5</option>
                            </select>
                        </p>
                    </div>
                    <div class="main__item--right">
                        <i class="fa-solid fa-trash-can" style="color: #1b1b1d;" onclick="removeItem(this)"></i>
                        <p class="main__item--price">$1500</p>
                    </div>
                </div>

                <script>
                    function removeItem(icon) {
                        // Get the parent main__item div and remove it
                        var mainItemDiv = icon.closest('.main__item');
                        mainItemDiv.remove();
                    }
                </script>

                <div class="main__continuar">
                    <button class="main__continuar--button">Continuar Compra</button>
                </div>
            </section>
        </main>
        <footer class="footer">
            <section class="footer__article"> 
                <h4>Nuestras redes</h4>
                <p class="footer__section--pNets">Seguinos en nuetras redes sociales:</p>
                <div class="footer__section--div">
                    <a href="#" class="footer__section--nets">
                    <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="footer__section--nets">
                        <i class="fa-brands fa-square-facebook"></i>
                    </a>
                    <a href="#" class="footer__section--nets">
                        <i class="fa-brands fa-tiktok"></i>
                    </a>
                </div>
            </section>
                
            <section class="footer__article"> 
                <h4>¿Dónde estamos?</h4>
                <a href="#" class="footer__section--location">
                    <i class="fa-solid fa-location-dot footer__section--iconLocation"></i>
                    <p class="footer__section--pLocation ">EL MATEADOR </p>
                </a>
            </section>    
    
            <section> 
                    <p class="footer--author">Copyright El Mateador - Grupo 5 - 2024 / Proyecto Digital House -</p>
            </section>
        </footer>  
    </body>
</html>