/* Index */
.main--home {
    font-family: "Poppins", sans-serif;
    margin: 0;
    box-shadow:
        inset 0 -10px 40px 21px rgb(255,255,255),
        inset 0 6px 9px 0px rgb(100, 100, 100, 0.6);
    background: transparent;
}

.main--banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.banner{
    width: 70%;
    margin-top: 21px;
    box-shadow: 0 0 10px rgb(100, 100, 100, 0.6 );
    border-radius: 10px;
}
.banner--radios{
    display: flex;
    margin: 18px 30px 30px 30px;
    justify-content: center;
}
.main__banner--radio {
    margin-right: 15px; 
    height:15px; 
    width:15px;
}
.main--titulares {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color:#1D1D1B;
    padding-top: 15px;
    margin: 0 15px 15px 15px; 
}

/* banner slides  */
.banner--slides{
    padding-top: 21px;
}
.banner--slide {
    display: block;
    width: 51%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 10px #64646499;
    border-radius: 10px;
}
.icon--arrow {
    font-size: 3em;
    color:#344c2a;
    transition: all 300ms;   
}
.icon--arrow:hover{
    font-size: 60px;
} 
/* fin slides */

.main__section--send{
    font-family: "Roboto", sans-serif;
    text-align: center;
    border-top: 2px solid #ccc;
    font-size: 24px;
    color:#1D1D1B;
    padding-top: 15px;
    margin: 40px 15px 15px 15px; 
}
.main__section--div2 {
    display:flex;
    justify-content: center;
    align-items: stretch; 
}
.main__secction--article{
    align-self: stretch;
    margin: 9px;
    border: solid 0.6px #344c2a;
    border-radius: 10px;
    transition: all 300ms;
}

.main__section--articleSend {
    text-align: center;
    width: 30%;
    margin: 18px auto;
    border-radius: 10px;
    transition: all 400ms;
}
.section--h4{
    font-size: 19px;
    font-weight: 600;
    margin: 15px 0 15px 0;
    
}
.section--p{
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 15px 0;


}
.main__icon--send{
    color:black;
    font-size: 40px;
    margin-top: 10px;
    padding: 7px 6px;
    border-radius: 9%;
    text-align: center;
    width:60px;
    height:60px;
}
.main__section--bannerSend{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__section--arrow{
    text-align: center;
    font-size: 30px;
    margin:0 100px;
}
.section__article--img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #ebebeb;
}
.main__secction--container {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
}
.product-box_image {
    display:flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
}
.main__figure--img {
    display:flex;
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* La imagen cubrirá el área del contenedor */
    max-width: 300px; /* Ancho máximo para imágenes */
    max-height: 300px; /* Altura máxima para imágenes */
}
.main__article--img {
    display:flex;
    width: 100%;
    height: auto; /* Mantiene la proporción de la imagen */
    object-fit: cover; /* La imagen cubrirá el área del contenedor */
    max-width: 300px; /* Ancho máximo para imágenes */
    max-height: 300px; /* Altura máxima para imágenes */
}

.section__article--precio {
    font-size: 19px;
    color: black;
    font-weight: 600;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}

.section__article--discount{
    font-size: 21px;
    color:#16AE5F;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}
.section__article--discountNo {
    font-size: 18px;
    color:#B9B9B9;
    text-decoration: line-through;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}
.section__article--discountYes {
    font-size: 22px;
    color:black;
    font-weight: 450;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}
.section__article--descripcion {
    font-size: 15px;
    font-weight: bold;
    color:#666;
    padding: 0 10px 10px 10px;
    margin: 0;  
}
.section__article--search{
    font-size: 16px;
    font-weight: bold;
    color:#666;
    margin: 18px 0 18px 40px;
}

.article__div--flex{
    display:flex;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding-top: 15px;
}
.productRelacionado { 
    background-color: #ececec;
    border-radius: 40px; 
    margin-top: 30px;
}
.container--box{
    width:10rem;
    height: 9rem; 
}

/* Media Query */
@media(min-width:490px) {
    .main__section--articleSend:hover {
        background-color: rgb(129, 159, 84, 0.10 );
    }
    .main__secction--article:hover {
        box-shadow: 0 0 10px rgb(52, 76, 42, 0.6 );
    }
    .main__offer{
        display: flex;
        width: 100%;
    }
   
}
@media(min-width:769px) {
    .main__section--div4 {
        display:flex;
        justify-content: center;
        align-items: stretch;
    }
   
}

@media (min-width:1200px) {
    .main--banner {
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
    }
    .productRelacionado { 
        max-width: 1200px;
        margin: 30px auto;
    }
   
}