.form__a--colors {
    color: #b01919;
    margin-left: 10px;
}
.form__buttons--colors {
    width: 30%;
    font-size: 12px;
    background: #344C2A;
    border: none;
    border-radius: 10px; 
    padding: 6px;
    color: white;
    margin-bottom: 6px; 
}
.main--buttons{
    display:flex;
    flex-direction: column;
}
.product--butt {
    width: 100%;
    background: #344C2A;
    text-decoration: none;
    border-radius: 10px; 
    font-family: "Poppins", sans-serif;
    padding: 12px;
    color: white;
    text-align: center;
    list-style: none;
}

.main__buttons--products {
    width: 100%;
    background: #344C2A;
    border: none;
    border-radius: 10px; 
    font-family: "Poppins", sans-serif;
    padding: 12px;
    color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}
