* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Desarrollo Header index.html */
.header--main {
    width: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    background-color: #FFFFFF;
    padding: 15px 15px 10px 15px;
}
    .header__main--bar {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Center child elements vertically */
    padding: 10px; /* Adjust padding as needed */
}
    
.header__div--burger, .header__divv--logo, .header__div--cart {
    display: inline-block;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
    box-sizing: border-box;
}
.header__div--burger {
    width: 20%;
    text-align: left
}
.header__div--cart {
    width: 20%;
    color: black;
    text-align: right; 
}
.header__div--logo {
    a {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    display: flex;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
    align-items: center;
}
.header--logo{
    width: 60px;
    height: auto;
    margin: 10px 10px 10px 10px;
    transition: all 700ms;
}

.header--logo:hover{
    width: 70px; 
}

/*  body {
  margin: 0;
  padding: 0;
  min-height: 100vh; // Ensure at least the height of the viewport
  display: flex;
  flex-direction: column;
} 
 */

.main--form {
    font-family: "Poppins", sans-serif;
    background-color: #f1f3f0;
}
.main__form--inputs {
    width: 100%;
    background-color: #819F54;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 1px solid #1fc51f;
    font-size: 15px;
    color: rgb(255, 0, 0);
}
.form--login {
    width: 100%;
    padding: 20px 30px;
    max-width: 550px;
    margin: 0 auto;
    box-shadow: 0px 6px 21px #000;
    border-top: 4px solid  #344C2A;
    color: #344C2A;
}
.form--login h5 {
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}
.form--login p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.form--login a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 14px;
}
.form--login a:hover {
    text-decoration: underline;
    color:blue
}
.main__buttons--login {
    width: 100%;
    height: 7vh;
    background-color: #ffffff;
    border: none;
    font-size: 18px;
    color:black;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.form--register {
    width: 100%;
    max-width: 550px;
    background-color: #f1f3f0;
    border: none;
    padding: 20px 30px;
    color: black;
    margin: 0 auto;
    font-size: 16px;
    border-radius: 4px;
    padding: 20px 30px;
}
.form--register h4 {
    font-size: 22px;
    margin-bottom: 20px;
}
.form--register p {
    height: 60px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form--register a {
    color: blue;
    text-decoration: none;
}
.form--register a:hover {
    color: black;
    text-decoration: underline;
}
.main__buttons--register {
    width: 100%;
    background-color: #ffffff;
    border:none;
    font-size: 18px;
    color:black;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

  
.header__main--bar {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Center child elements vertically */
  padding: 10px; /* Adjust padding as needed */
}
  
.header__div--burger, .header__divv--logo, .header__div--cart {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  vertical-align: middle;
  box-sizing: border-box;
}

.header__div--burger {
  width: 20%;
  text-align: left
}

.header__div--cart {
  width: 20%;
  text-align: right; 
}

.header__div--logo{
  a {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  display: flex;
  justify-content: center;
  height: 100%;
  vertical-align: middle;
  align-items: center;
}

.header--main {
  text-align: center; /* Center child elements horizontally */
}

.header--logo{
  width: 60px;
  height: auto;
  margin: 10px 10px 10px 10px;
}

.fa-bars{
  font-size: 24px;
  color: #1d1d1b;
  margin: 10px 10px 10px 10px;
}

.fa-shopping-cart {
  font-size: 24px;
  color: #1d1d1b;
  margin: 10px 10px 10px 10px;
}

.main__section{
  background: #fff;
  background: linear-gradient(to bottom, #e7e7e7, #fff 3%); /* Adjust colors as needed */
  padding: 10px;font-family: "Poppins";
  font-size: 20px;
  color:#1B1B1D;
}

.main__titulares {
  font-family: "Poppins";
  font-size: 20px;
  color:#1B1B1D;
  margin-left: 20px; 
}

.main__item {
  width: 90%;
  height: 95px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #1B1B1D;
  border-radius: 10px; /* Adjust the border-radius as needed for rounded corners */
  margin: 20px 20px 20px 20px; /* Adjust the margin to add space between items */
  overflow: hidden; /* Ensure rounded corners overflow correctly */
}  

.main__item--div-img, .main__item--product, .main__item--right {
  display: inline-block;
  padding: 10px;
  vertical-align: middle;
  box-sizing: border-box;
}

.main__item--product{
  width:55%;
  font-family: "Poppins";
  font-size: 14px;
  color:#1B1B1D;
}

.main__item--image{
  width: 70px;
  height: 70px;
  border: 1px solid #1B1B1D;
  border-radius: 10px; 
  padding: 10px 10px 10px 10px; 
}  

.main__item--right {
  font-family: "Poppins";
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: right;
  height: 100%;
  width:20%;
}

.main__item--price {
  font-family: "Poppins";
  font-size: 14px;
  margin-top: auto;
  height: 1rem;
}

.main__continuar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: "Poppins";
  font-size: 20px;
}

.main__continuar--button {
  width: 100%;
  background: #344C2A;
  border: none;
  border-radius: 10px; 
  font-family: 'poppins';
  padding: 12px;
  color: white;
}

/* Desarrollo Footer index.html */
.footer {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    padding: 30px 0 0 30px;
    background-color: #344C2A;
}
.footer__article h4{
    font-size: 24px;
    font-weight: 400;
    color: white;
    text-align: left;
    margin-top: 16px;
    margin-bottom: 3px;   
}
.footer__section--pNets{
    font-size:16px;
    font-weight: normal;
    color: white;
    text-align: left;
    margin-top: 15px;
}
.footer__section--div{
    display: inline-flex;
    text-align: left;
    margin-top: 21px;
    margin-bottom: 21px;
}
.footer__section--nets {
    justify-content: center;
    text-align: center;
    text-decoration:none;
    color:#FFFFFF;
    font-size: 33px;
    border-radius: 9%;
    width:40px;
    height:40px;
    margin-left:30px;
    transition: all 900ms;
}
.footer__section--nets:hover{
    transform: rotate(360deg);
    width:43px;
    height:43px;
    color:#344C2A;
    background:#FFFFFF;
}
.footer__section--location {
    display: flex;
    text-decoration:none;
    justify-content: left;
}
.footer__section--location:hover {
    .footer__section--pLocation{
        font-size: 16px;
    }
    .footer__section--iconLocation{
        transform: rotate(360deg);
        font-size: 34px;
        width:43px;
        height:43px;
        background:#FFFFFF;;
        color: #344C2A;
    }
}
.footer__section--iconLocation {
    display:flex;
    color:#FFFFFF;
    border-radius: 9%;
    justify-content: center;
    align-items: center;
    width:40px;
    height:40px;
    font-size: 33px;
    margin-top: 21px;
    transition: all 900ms;
}
.footer__section--pLocation{
    display:flex;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    color: white;
    padding-left: 6px;
    margin-top: 21px;
    justify-content: left;
    align-items: center;
    transition: all 900ms;
}
.footer--author{
    font-size: 9px;
    font-weight: 300;
    color: white;
    background-color:transparent;
    text-align: left;
    margin: 30px 0 0 10px;
    padding-bottom: 10px;
}
.footer--login--register{
    font-family: "Poppins", sans-serif;
    margin: -24px 0 10px 10px;
}

/* Home */
.main--home {
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
    box-shadow:
        inset 0 -10px 40px 21px rgb(255,255,255),
        inset 0 6px 9px 0px rgb(100, 100, 100, 0.6 );
    background: transparent;
}
.main--banner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
.banner{
    width: 70%;
    margin-top: 21px;
    box-shadow: 0 0 10px rgb(100, 100, 100, 0.6 );
    border-radius: 10px;
}
.banner--radios{
    display: flex;
    margin: 18px 30px 30px 30px;
    justify-content: center;
}
.main__banner--radio {
    margin-right: 15px; 
    height:15px; 
    width:15px;
}
.main--titulares {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    color:#1D1D1B;
    padding-top: 15px;
    margin: 0 15px 15px 15px; 
}
.main__section--send{
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-size: 24px;
    color:#1D1D1B;
    padding-top: 15px;
    margin: 40px 15px 15px 15px; 
}
.main__section--div2 {
    display:flex;
    justify-content: center;
    align-items: stretch;
}
.main__secction--article{
    align-self: stretch;
    margin: 9px;
    border: solid 0.6px rgb(52, 76, 42);
    border-radius: 10px;
    transition: all 700ms;
}
.main__secction--article:hover {
    box-shadow: 0 0 10px rgb(52, 76, 42, 0.6 );
}
.main__section--articleSend {
    text-align: center;
    width: 60%;
    margin: 18px auto;
    border: solid 0.6px rgb(52, 76, 42);
    border-radius: 10px;
    transition: all 700ms;
}
.main__section--articleSend:hover {
    background-color: rgb(52, 76, 42, 0.6 );
}
.main__icon--send{
    color:black;
    font-size: 25px;
    margin-top: 10px;
    padding: 7px 6px;
    border-radius: 9%;
    text-align: center;
    width:40px;
    height:40px;
}
.main__section--bannerSend{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main__section--arrow{
    text-align: center;
    font-size: 30px;
    margin:0 100px;
}
.section__article--img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #ebebeb;
}
.main__article--img {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.section__article--precio {
    font-size: 19px;
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}
.section__article--descripcion {
    font-size: 16px;
    font-weight: bold;
    color:#666;
    padding: 0 0 10px 10px;
    margin: 0;  
}

.article__div--flex{
    display:flex;
    background: white;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    padding-top: 15px;
}



@media(min-width:769px) {
    .main__section--div4 {
        display:flex;
        justify-content: center;
        align-items: stretch;
    }
}
@media (min-width:1200px) {
    /* .main--home{
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
    } */
    .main--banner {
        max-width: 1200px;
        display: flex;
        margin: 0 auto;
    }
    .footer__article {
        max-width: 1200px;
        margin: 0 auto;
    }
    .main--section {
        max-width: 1200px;
        margin: 0 auto; 
        align-items: center;  
    }
    
}
