<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error404</title>
    <%- include('./partials/iconNav.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>
        <div class="body__div--error404">
            <img  class="body__img--error404" src="/images/error404.svg" alt="error404">
            <h3>PAGE NOT FOUND</h3>
            <a href="/" class="body--href">Pagina principal</a>
        </div>
    </main>
</body>
</html>