<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>El Mateador</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
   
    <main class="main--home">
        <div class="main--banner">
            <img  class="banner"  src="/images/banner-el-mateador_Mesa de trabajo 1.jpg" alt="banner">
            <div class="banner--radios">
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
                <input type="radio" name="formBanner" value="mainBanner" class="main__banner--radio"> 
            </div>
        </div>
    
        <section class="main--section">
            <h3 class="main--titulares">Categorías</h3>
            <div class="main__section--div4">
                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <a href="/products/productDetail/1">
                                <img class="main__article--img" src="/images/el-mateador-imagenes-04.jpg" alt="Programacion Full Stack">
                            </a>
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Mates</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>

                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <a href="/products/productDetail/2">
                                <img class="main__article--img" src="/images/el-mateador-imagenes-06.jpg" alt="Programacion Full Stack">
                            </a>
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Bombillas</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                </div>

                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                        <a href="/products/productDetail/3">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-09.jpg" alt="Programacion Full Stack">
                        </a>
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Mates</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                    
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <a href="/products/productDetail/4">
                                <img class="main__article--img" src="/images/el-mateador-imagenes-07.jpg" alt="Programacion Full Stack">
                            </a>
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> Bombillas</p>
                            <p class="section__article--descripcion"> Descripcion </p> 
                        </div>                        
                    </article>
                </div>
        </section>

        <section class="main--section">
            <h3 class="main--titulares">Promociones</h3>
            <article class="main--banner">
                    <img class="banner" src="/images/banner-el-mateador-02.jpg" alt="Programacion Full Stack">                     
            </article>
        </section>

        <section class="main--section">
            <h3 class="main--titulares">Ofertas exclusivas</h3>
            <div class="main__section--div4">
                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-09.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>

                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-08.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                </div>

                <div class="main__section--div2">
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-03.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                    
                    <article class="main__secction--article">
                        <div class="section__article--img">
                            <img class="main__article--img" src="/images/el-mateador-imagenes-07.jpg" alt="Programacion Full Stack">
                        </div>                        
                        <div class="article__div--flex">
                            <p class="section__article--precio"> 40% descuento</p>
                            <p class="section__article--descripcion"> Descripcion Oferta </p> 
                        </div>                        
                    </article>
                </div>
        </section>

        <section class="main--section">
            <h3 class="main__section--send">¿Por qué elegirnos?</h3>  
            <div class="main__section--bannerSend">
                <i class="fa-solid fa-chevron-left main__section--arrow"></i>
                           
                <article class="main__section--articleSend">
                    <a href="#">
                        <i class="fa-solid fa-truck-fast main__icon--send"></i>
                    </a>
                    <h4>Envíos a todo el país</h4>
                    <p>Tenés envíos gratis a partir de $10000</p>                   
                </article>
                <i class="fa-solid fa-chevron-right main__section--arrow"></i>   
                
            </div>
        </section>
    </main>
    
    <%- include('./partials/footer.ejs') %>  %>
</body>
</html>

  
