<footer class="footer">
    <section class="footer__article"> 
        <h4>Nuestras redes</h4>
        <p class="footer__section--pNets">Seguinos en nuetras redes sociales:</p>
        <div class="footer__section--div">
            <a href="#" class="footer__section--nets">
            <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="footer__section--nets">
                <i class="fa-brands fa-square-facebook"></i>
            </a>
            <a href="#" class="footer__section--nets">
                <i class="fa-brands fa-tiktok"></i>
            </a>
        </div>
    </section>
        
    <section class="footer__article"> 
        <h4>¿Dónde estamos?</h4>
        <a href="#" class="footer__section--location">
            <i class="fa-solid fa-location-dot footer__section--iconLocation"></i>
            <p class="footer__section--pLocation">EL MATEADOR </p>
        </a>
    </section>    

    <section class="footer__article"> 
            <p class="footer--author">Copyright El Mateador - Grupo 5 - 2024 / Proyecto Digital House -</p>
    </section>
</footer>  