<header class="header--main">
    <div class="header__main--bar">
        <div class="header__div--burger">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="header__div--logo">
            <a href="/"><img  class="header--logo" src="/images/logo.svg" alt="Mates"></a>
        </div>

        <div class="header__div--cart">
            <a href="/products/productCart"><i class="fa-solid fa-shopping-cart"></i></a>
        </div>
    </div>
    <nav class="header__nav--menu">
        <ul class="header__nav--option">
            <li type="none"> <a href="/products/index"> Productos</a> </li>
            <li type="none"> <a href="#"> Vender</a> </li>
            <li type="none"> <a href="#"> Ofertas</a> </li>
            <li type="none"> <a href="#"> Contacto</a> </li>
        </ul>
        
        <ul class="header__nav--login">
            <li type="none"> <a href="/users/register"> Creá tu cuenta&ensp;<i class="fa-solid fa-address-card"></i></a></li>
            <li type="none"> <a href="/users/login"> Ingresá&ensp; <i class="fa-solid fa-right-to-bracket"></i> </a> </li>
            <li type="none"> <a href="/admin"> Admin</a> </li>
        </ul>
    </nav>                 
</header>